{{ define "styles" }}
    {{ $hub := resources.Get "css/hub.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $hub.Permalink }}" integrity="{{ $hub.Data.Integrity }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@400;500&family=Lora&family=Inter&family=Pacifico&display=swap" rel="stylesheet">
{{ end }}

{{ define "main" }}
    <div id="visualization-container" style="margin: 20px;"></div>
    <script>
        window.hubData = {
            root: `{{ .Site.Data.hub.sections | jsonify }}`
        };
    </script>
    {{ $hubjs := resources.Get "js/hub.js" | minify | fingerprint }}
    <script src="{{ $hubjs.Permalink }}" integrity="{{ $hubjs.Data.Integrity }}"></script>
{{ end }}